@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.4);
    height: 100%;
}

.bg-own{
    background: #DED8CB;
}

.bg-own2{
    background: #15857A;
}

.main-color{
    color: #15857A;
}

.accent-color{
    color: #C9654D;
}

.h1-own{
    font-size: 60px;
    font-weight: 700;
    font-family: Stardos Stencil, sans-serif;
    color: #303030;
    letter-spacing: 7px;
    line-height: 1.1;
}

.h2-own{
    font-size: 15px;
    font-weight: bold;
    font-family: BioRhyme Expanded , sans-serif;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 4px;
}

.h2-own2{
    font-size: 15px;
    font-weight: bold;
    font-family: BioRhyme Expanded , sans-serif;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.h3-own{
    font-size: 13px;
    font-weight: lighter;
    font-family: Archivo , sans-serif;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 2px;
    max-width: 500px;
    padding-right: 15px;
}

.h3-own2{
    font-size: 13px;
    font-weight: lighter;
    font-family: Archivo , sans-serif;
    text-transform: uppercase;
    color: #303030;
    letter-spacing: 2px;
    max-width: 500px;
    padding-left: 15px;
}

.h4-own{
    font-size: 12px;
    font-weight: bold;
    font-family: Archivo , sans-serif;
    color: #303030;
    letter-spacing: 2px;
}

.p-own{
    font-size: 14px;
    font-weight: lighter;
    font-family: Archivo , sans-serif;
    color: #303030;
    max-width: 450px;
}

.p-own2{
    font-size: 14px;
    font-weight: lighter;
    font-family: Archivo , sans-serif;
    color: #303030;
    max-width: 450px;
    padding-left: 15px;
    padding-right: 15px;
}

.border-color-own{
    border-color: #15857A;
}

.border-color-own2{
    border-color: #303030;
}


.navbar-own {
    height: 90%;
    max-height: 700px;
}

.negative-m{
    margin-right: -232px;
    margin-top: 18px;
}

.div-rounded-own{
    border-radius: 30px;
    background: #C9654D;
    width: 250px;
    height: 350px;
}

.div-rounded-own2{
    border-radius: 30px;
    background: #C9654D;
    width: 250px;
    height: 400px;
}

.hidden-own {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.visible-own {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.button {
    transition: transform 0.18s ease-in-out;
}

.rotate-own {
    transform: rotate(90deg);
}

.reset-rotate-owm{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
}

input{
    width: 300px;
    border-radius: 5px;
}

input:focus{
    outline: solid #15857A 2px;
}

textarea{
    width: 300px;
    border-radius: 5px;
}

textarea:focus{
    outline: solid #15857A 2px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.senden{
    border-radius: 5px;
    color: #303030;
    width: 75px;
    margin-bottom: 400px;
}

.font-bold-own{
    font-size: 14px;
    font-weight: normal;
    font-family: Archivo , sans-serif;
    color: #303030;
    max-width: 450px;
}

.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.personal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}


.moodboard{
    height: 500px;
    margin-bottom: 100px;
}

.moodboard-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid #15857A;
}

@media (max-width: 1400px) {
    .navbar {
        height: 100%;
    }

    .main-div{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        width: 500px;
    }

    .main{
        margin-top: -20px;
    }

    .h1-own{
        font-size: 40px;
        font-weight: 700;
        font-family: Stardos Stencil, sans-serif;
        color: #303030;
        letter-spacing: 5px;
        line-height: 1.1;
        text-align: center;
    }

    .p-own{
        font-size: 14px;
        font-weight: lighter;
        font-family: Archivo , sans-serif;
        color: #303030;
        max-width: 300px;
    }


}

.height{
    min-height: 120px;
}

.delay-own {
    transition-delay: 50ms;
}

.delay-own2 {
    transition-delay: 100ms;
}

.delay-own3 {
    transition-delay: 150ms;
}

.plans{
    border: 2px solid #15857A;
    border-radius: 32px;
    display: flex;
    gap: 40px;
}

@media (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .h1-own {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .h2-own {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .h3-own, .p-own {
        font-size: 12px;
    }

    .div-rounded-own {
        width: 200px;
        height: 300px;
        margin: 0 auto; /* Zentriere das Bild */
    }

    .navbar {
        flex-direction: column;
        border: none;
    }

    .hidden-own {
        max-height: 0; /* Klappbare Abschnitte */
        overflow: hidden;
    }

    .visible-own {
        max-height: 100%; /* Zeige Inhalte */
    }
}

/* Kleinste Geräte (z. B. iPhone SE) */
@media (max-width: 480px) {
    .h1-own {
        font-size: 32px;
    }

    .h2-own {
        font-size: 10px;
    }

    .div-rounded-own {
        width: 150px;
        height: 250px;
    }

    .p-own, .h3-own {
        font-size: 10px;
        max-width: 100%; /* Nutze den verfügbaren Platz */
    }
}